* {
    margin: 0;
}

.header {
    background-color: black;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.leftSection {
    width: 17%;
    height: 70px;
    background-color: black;
    display: flex;
    align-items: center;
}

.wrappedButton {
    margin-left: 10px;
    border: none;
    cursor: pointer;
    background-color: black;
} 

.wrappedLogo {
    width: 225px;
    background-color: black;
}

.middleSection {
    display: flex;
    flex: 1;
    align-items: center;
    background-color: black;
    padding: 0 2%; /* Use percentage for horizontal padding */
}

.headerButton {
    color: white;
    text-decoration: none;
    font-family: 'Circular Std Bold', Arial;
    font-size: 15px;
    transition: color 0.2s;
    border: none;
    background: none;
    padding: 10px 20px; /* Use pixel values for padding around each button */
    margin-right: 2vw; /* Use vw for relative right margin */
}

.headerButton:last-child {
    margin-right: 0; /* Remove margin for the last button to avoid excessive spacing */
}

.headerButton:hover {
    color: #1db954;
    cursor: pointer;
}

.loginButton {
    color: white;
    transition: color .2s;
    border: none;
    border-radius: 5vh;
    padding: 2vh 2.2vw;
}

.loginButtonText {
    text-decoration: none;
    font-family:'Circular Std Bold', Arial;
    font-size: 15px;
    color:black;
}

.logoutButton {
    color: white;
    text-decoration: none;
    font-family:'Circular Std Bold', Arial;
    font-size: 15px;
    transition: color .2s;
    border: none;
    background: none;
}

.loginButton:hover {
    color: #1db954;
    cursor: pointer;
}

.logoutButton:hover {
    color: #1db954;
    cursor: pointer;
}

.buttonContainer {
    margin-right: 50px;
}


.rightSection {
    display: flex;
    background-color: black;
    height: 70px;
    width: 275px;
    align-items: center;
}

.bodyDiv {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Circular Std Bold', Arial;
    background-color: rgb(25, 20, 20);
}

.card {
    margin-top: 10vh;
    margin-right: 60vw;
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 0vh;
    border-radius: 5vh;
    padding: 2vh;
}

.cardButtons {
    background-color: #1db954;
    display: flex;
    align-items: center;
    margin-left: 4vw;
    margin-right: 4vw;
    margin-bottom: 7vh;
    margin-top: 7vh;
    border-radius: 2vh;
    text-decoration: none;
}

.cardText {
    color: white;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 2vw;
    padding-right: 10vw;
}

.Containers {
    font-family:'Circular Std Bold', Arial;
}

.containerButtons {
    border: none;
    color: white;
    font-family:'Circular Std Bold', Arial;
    font-size: 17px;
    text-decoration-line: underline;
    transition: color .2s;
    margin-bottom: 35px;
    background-color: rgb(25, 20, 20);
}

.containerButtons:hover {
    cursor: pointer;
    color: #1db954;
}

.trackLink {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.trackLink:hover {
    cursor: pointer;
    color: #1db954 !important;
    transition: color .2s;
  }